main { 
  margin: 0 auto;
  padding-inline: var(--padding-inline-edge);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-l);
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--px-80);
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-l);
}

.text-display {
  font-size: var(--px-64);
  letter-spacing: var(--letters-tight);
  line-height: 1.1;
  font-weight: 900;
  margin-left: -0.075em;
}

.text-hero {
  font-size: var(--px-32);
  color: var(--font-tres--color);
  line-height: 1.35;
  max-width: 70vw;
}

.text-accent {
  font-size: var(--px-20);
  line-height: 1.35;
  max-width: 70vw;
}

.email-first-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-m);
  
  width: 50vw;
  min-width: 600px;

  background-color: var(--bg-uno--color);
  padding: var(--px-32);
  padding-top: var(--px-28);
  border-radius: var(--radius-l);
  box-shadow: 0 4px 40px 1px hsla(210, 10%, 2%, .05);
}

.email-first-form {
  display: flex;
  gap: var(--px-12);
  width: 100%;
}

.footer {
  margin-top: 10vh;
}