.landing-main { 
  margin: 0 auto;
  padding-inline: var(--padding-inline-edge);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-l);
  min-height: calc(100vh - var(--layout-header-height, 80px));
}

.landing-main .footer {
  margin-top: auto;
  height: var(--px-64);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--px-80);
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  margin-bottom: var(--gap-l);
}

.text-display {
  font-size: clamp(var(--px-40), 8vw, var(--px-64));
  letter-spacing: var(--letters-tight);
  line-height: 1.1;
  font-weight: 900;
  margin-left: -0.025em;
}

.text-hero {
  font-size: clamp(var(--px-18), 3.5vw, var(--px-24));
  color: var(--font-dos--color);
  line-height: 1.35;
}

.text-accent {
  font-size: var(--px-20);
  line-height: 1.35;
  max-width: 70vw;
}

.email-first-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
  
  width: 100%;
  max-width: 500px;

  background-color: var(--bg-uno--color);
  padding: var(--px-24);
  /* padding-top: var(--px-24); */
  border-radius: var(--radius-l);
  box-shadow: 0 4px 40px 1px hsla(210, 10%, 2%, .05);
}

.email-first-form {
  display: flex;
  gap: var(--gap-xl);
  width: 100%;
}
