:root {

  /* Tiny */
  --btn-tiny-font-size: var(--font-size-xs);
  --btn-tiny-line-height: var(--px-20);
  --btn-tiny-padding-inline: var(--px-6);
  --btn-tiny-padding-block: var(--px-2);
  --btn-tiny-icon-size: var(--px-16);
  --btn-tiny-icon-only-padding-inline: var(--px-4);
  --btn-tiny-gap: 0;
  
  /* Small */
  --btn-small-font-size: var(--font-size-s);
  --btn-small-line-height: var(--px-20);
  --btn-small-padding-inline: var(--px-8);
  --btn-small-padding-block: var(--px-6);
  --btn-small-icon-size: var(--px-16);
  --btn-small-icon-only-padding-inline: var(--px-8);
  --btn-small-gap: 0;
  
  /* Medium (default) */
  --btn-medium-font-size: var(--font-size-m);
  --btn-medium-line-height: var(--px-24);
  --btn-medium-padding-inline: var(--px-12);
  --btn-medium-padding-block: var(--px-8);
  --btn-medium-icon-only-padding-inline: var(--px-10);
  --btn-medium-icon-size: var(--px-20);
  /* --btn-medium-gap: var(--px-2); */

  /* Large */
  --btn-large-font-size: var(--font-size-l);
  --btn-large-line-height: var(--px-28);
  --btn-large-padding-inline: var(--px-16);
  --btn-large-padding-block: var(--px-10);
  --btn-large-icon-only-padding-inline: var(--px-12);
  --btn-large-icon-size: var(--px-24);
  /* --btn-large-gap: var(--px-2); */
  
  /* XLarge */
  --btn-xlarge-font-size: var(--font-size-xl);
  --btn-xlarge-line-height: var(--px-24);
  --btn-xlarge-padding-inline: var(--px-24);
  --btn-xlarge-padding-block: var(--px-16);
  --btn-xlarge-icon-only-padding-inline: var(--px-16);
  --btn-xlarge-icon-size: var(--px-24);
  /* --btn-xlarge-gap: var(--px-3); */

  
  /* VARIANTS - Color variant tokens */
  
  /* Basic variant (default) */
  --btn-basic-bg: var(--color-bg-dos);
  --btn-basic-bg-hover: var(--color-bg-dos-hover);
  --btn-basic-bg-active: var(--color-bg-dos-active);
  --btn-basic-color: var(--color-font-uno);
  --btn-basic-border-radius: var(--radius-xs);
  
  /* Primary variant */
  --btn-primary-bg: var(--color-bg-primary);
  --btn-primary-bg-hover: var(--color-bg-primary-hover);
  --btn-primary-bg-active: var(--color-bg-primary-active);

  --btn-primary-color:var(--white);
  
  
  /* Secondary variant */
  --btn-secondary-bg: var(--color-bg-tres);
  --btn-secondary-color: var(--color-font-uno);
  --btn-secondary-bg-hover: var(--color-bg-tres-hover);
  --btn-secondary-bg-active: var(--color-bg-tres-active);
}
