main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--px-16);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--px-80);
}

.text-display {
  font-size: var(--px-64);
  line-height: 1.1;
  font-weight: 900;
}

.auth-section {
  display: flex;
  flex-direction: row;
  gap: var(--px-16);
  flex-wrap: wrap;
}

.auth-card {
  display: flex;
  flex-direction: column;
  gap: var(--px-16);
  background-color: var(--color-bg-dos);
  padding: var(--px-32);
  border-radius: var(--radius-m);
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: var(--px-24);
  min-width: 300px;
  max-width: 30%;
}

.auth-form-remember {
  display: flex;
  align-items: center;
  gap: var(--px-8);
  
  input[type="checkbox"] {
    cursor: pointer;
  }
  
  label {
    cursor: pointer;
    margin: 0;
  }
}

