<main class="landing-main">

  <section class="hero-section">
    <h1 class="text-display"><%= t("landing.title") %></h1>
    <p class="text-hero">No fancy slogans here. Just take a look and decide for yourself.</strong></p>
  </section>

  <section class="email-first-card">

    <h4 class="text-accent">Start with email:</h4>

    <form class="email-first-form" action="#" method="post">
      <%= render "shared/input",
        name: "email",
        type: "email",
        placeholder: "Type your email here",
        required: true,
        size: :large,
        wrapper_class: "email-first-input"
      %>
      
      <%= render "shared/button", 
        text: "Continue", 
        variant: :contrast, 
        type: :submit, 
        class: "email-first-button",
        size: :large
      %>
    </form>

        <%#= render "shared/button", 
        text: "Authorize via Google", 
        variant: :default, 
        type: :submit, 
        size: :small%>

  </section>

    



  <footer class="footer">
    <p>&copy; 2025, Instantum </p>
  </footer>  
</main>

