/* Core size tokens */
/* Base pixel values from 1px to 100px */
/* These are foundation tokens used to build semantic size tokens */

:root {
  --px-1: 0.0625rem; /* 1px */
  --px-2: 0.125rem; /* 2px */
  --px-3: 0.1875rem; /* 3px */
  --px-4: 0.25rem; /* 4px */
  --px-5: 0.3125rem; /* 5px */
  --px-6: 0.375rem; /* 6px */
  --px-7: 0.4375rem; /* 7px */
  --px-8: 0.5rem; /* 8px */
  --px-9: 0.5625rem; /* 9px */
  --px-10: 0.625rem; /* 10px */

  --px-11: 0.6875rem; /* 11px */
  --px-12: 0.75rem; /* 12px */
  --px-13: 0.8125rem; /* 13px */
  --px-14: 0.875rem; /* 14px */
  --px-15: 0.9375rem; /* 15px */
  --px-16: 1rem; /* 16px */
  --px-17: 1.0625rem; /* 17px */
  --px-18: 1.125rem; /* 18px */
  --px-19: 1.1875rem; /* 19px */
  --px-20: 1.25rem; /* 20px */

  --px-21: 1.3125rem; /* 21px */
  --px-22: 1.375rem; /* 22px */
  --px-23: 1.4375rem; /* 23px */
  --px-24: 1.5rem; /* 24px */
  --px-25: 1.5625rem; /* 25px */
  --px-26: 1.625rem; /* 26px */
  --px-27: 1.6875rem; /* 27px */
  --px-28: 1.75rem; /* 28px */
  --px-29: 1.8125rem; /* 29px */
  --px-30: 1.875rem; /* 30px */

  --px-31: 1.9375rem; /* 31px */
  --px-32: 2rem; /* 32px */
  --px-33: 2.0625rem; /* 33px */
  --px-34: 2.125rem; /* 34px */
  --px-35: 2.1875rem; /* 35px */
  --px-36: 2.25rem; /* 36px */
  --px-37: 2.3125rem; /* 37px */
  --px-38: 2.375rem; /* 38px */
  --px-39: 2.4375rem; /* 39px */
  --px-40: 2.5rem; /* 40px */

  --px-41: 2.5625rem; /* 41px */
  --px-42: 2.625rem; /* 42px */
  --px-43: 2.6875rem; /* 43px */
  --px-44: 2.75rem; /* 44px */
  --px-45: 2.8125rem; /* 45px */
  --px-46: 2.875rem; /* 46px */
  --px-47: 2.9375rem; /* 47px */
  --px-48: 3rem; /* 48px */
  --px-49: 3.0625rem; /* 49px */
  --px-50: 3.125rem; /* 50px */

  --px-51: 3.1875rem; /* 51px */
  --px-52: 3.25rem; /* 52px */
  --px-53: 3.3125rem; /* 53px */
  --px-54: 3.375rem; /* 54px */
  --px-55: 3.4375rem; /* 55px */
  --px-56: 3.5rem; /* 56px */
  --px-57: 3.5625rem; /* 57px */
  --px-58: 3.625rem; /* 58px */
  --px-59: 3.6875rem; /* 59px */
  --px-60: 3.75rem; /* 60px */

  --px-61: 3.8125rem; /* 61px */
  --px-62: 3.875rem; /* 62px */
  --px-63: 3.9375rem; /* 63px */
  --px-64: 4rem; /* 64px */
  --px-65: 4.0625rem; /* 65px */
  --px-66: 4.125rem; /* 66px */
  --px-67: 4.1875rem; /* 67px */
  --px-68: 4.25rem; /* 68px */
  --px-69: 4.3125rem; /* 69px */
  --px-70: 4.375rem; /* 70px */

  --px-71: 4.4375rem; /* 71px */
  --px-72: 4.5rem; /* 72px */
  --px-73: 4.5625rem; /* 73px */
  --px-74: 4.625rem; /* 74px */
  --px-75: 4.6875rem; /* 75px */
  --px-76: 4.75rem; /* 76px */
  --px-77: 4.8125rem; /* 77px */
  --px-78: 4.875rem; /* 78px */
  --px-79: 4.9375rem; /* 79px */
  --px-80: 5rem; /* 80px */
  
  --px-81: 5.0625rem; /* 81px */
  --px-82: 5.125rem; /* 82px */
  --px-83: 5.1875rem; /* 83px */
  --px-84: 5.25rem; /* 84px */
  --px-85: 5.3125rem; /* 85px */
  --px-86: 5.375rem; /* 86px */
  --px-87: 5.4375rem; /* 87px */
  --px-88: 5.5rem; /* 88px */
  --px-89: 5.5625rem; /* 89px */
  --px-90: 5.625rem; /* 90px */

  --px-91: 5.6875rem; /* 91px */
  --px-92: 5.75rem; /* 92px */
  --px-93: 5.8125rem; /* 93px */
  --px-94: 5.875rem; /* 94px */
  --px-95: 5.9375rem; /* 95px */
  --px-96: 6rem; /* 96px */
  --px-97: 6.0625rem; /* 97px */
  --px-98: 6.125rem; /* 98px */
  --px-99: 6.1875rem; /* 99px */
  --px-100: 6.25rem; /* 100px */
}
