:root {
  --radius-xxs:  var(--px-3);
  --radius-xs:   var(--px-5);
  --radius-s:    var(--px-7);
  --radius-m:    var(--px-12);
  --radius-l:    var(--px-16);
  --radius-xl:   var(--px-20);
  --radius-xxl:  var(--px-32);
  --radius-full: 1000px;

}