<div class="users-index">
  <h1>Users</h1>

  <div class="users-list">
    <% @users.each do |user| %>
      <div class="user-card">
        <p><%= user.email %></p>
        <p><%= user.admin? ? "Admin" : "User" %></p>
        <%= link_to "View", user_path(user) %>
      </div>
    <% end %>
  </div>
</div>

