.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-m);
}

.column {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: var(--gap-m);
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-l);
}