/* Semantic typography styles */
/* Uses size tokens from tokens/_sizes.css and typography tokens from tokens/_typography.css */

body {
  font-family: var(--font-family-sans);
  font-size: clamp(var(--font-size-m), 1vw, var(--font-size-l));
  line-height: var(--px-20);
  color: var(--font-uno--color);
  background: var(--bg-color-base);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: var(--px-48);
  line-height: var(--px-56);
}

h2 {
  font-size: var(--px-32);
  line-height: var(--px-56);
}

h3 {
  font-size: var(--px-24);
  line-height: var(--px-32);
}

h4 {
  font-size: var(--px-16);
  line-height: var(--px-20);
}

h5 {
  font-size: var(--px-14);
  line-height: var(--px-18);
}

h6 {
  font-size: var(--px-12);
  line-height: var(--px-16);
}

p {
  /* margin-bottom: 1.5em; */
}

a {
  color: var(--link-uno--color);
  text-decoration: none;

  &:hover {
    color: var(--link-uno--color-hover);
  }

  &:active {
    color: var(--link-uno--color-active);
  }
}

ul, ol {
  /* padding-left: var(--px-16); */

}

li {
  /* margin-bottom: var(--px-4); */
}

