<%#
  Layout Header Template
  Global application header with user email and sign out link
  See layout_header.rb for component logic and layout_header.scss for styles
%>

<header class="layout-header">
  <% if signed_in? %>
    <span class="layout-header-email"><%= user.email %></span>
    <%= form_with url: destroy_user_session_path, method: :delete, local: true do |f| %>
      <%= render Button::ButtonComponent.new(
        text: t("common.sign_out"),
        type: "submit",
        variant: :basic,
        size: :small
      ) %>
    <% end %>
  <% end %>
</header>

