.layout-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  height: var(--px-80);
  background-color: var(--color-bg-uno);
}

.layout-header-nav {
  display: flex;
  gap: var(--px-16);
}

.layout-header-link {
  color: var(--color-text-primary);
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

.layout-header-actions {
  display: flex;
  align-items: center;
  gap: var(--px-12);
}

.layout-header-email {
  font-size: var(--px-14);
  color: var(--color-text-secondary);
}
