<%= render "ui_kit/shared/layout" do %>
  <main class="ui-kit-main">
    <h1>UI Kit</h1>
    <p>Select a component from the sidebar to view examples.</p>

    <div class="color-text"><div>
  </main>
<% end %>

