/* Color tokens */
/* Using HSL/HSLA format only */

:root {
  --black: hsl(0, 0%, 0%);
  --black-10: hsl(0, 0%, 0%, 0.1);
  --black-transparent-20: hsl(0, 0%, 0%, 0.2);
  --black-transparent-30: hsl(0, 0%, 0%, 0.3);
  --black-transparent-40: hsl(0, 0%, 0%, 0.4);
  --black-transparent-50: hsl(0, 0%, 0%, 0.5);
  --black-transparent-60: hsl(0, 0%, 0%, 0.6);
  --black-transparent-70: hsl(0, 0%, 0%, 0.7);
  --black-transparent-80: hsl(0, 0%, 0%, 0.8);
  --black-transparent-90: hsl(0, 0%, 0%, 0.9);

  --white: hsl(0, 0%, 100%);
  --white-transparent-10: hsl(0, 0%, 100%, 0.1);
  --white-transparent-20: hsl(0, 0%, 100%, 0.2);
  --white-transparent-30: hsl(0, 0%, 100%, 0.3);
  --white-transparent-40: hsl(0, 0%, 100%, 0.4);
  --white-transparent-50: hsl(0, 0%, 100%, 0.5);
  --white-transparent-60: hsl(0, 0%, 100%, 0.6);
  --white-transparent-70: hsl(0, 0%, 100%, 0.7);
  --white-transparent-80: hsl(0, 0%, 100%, 0.8);
  --white-transparent-90: hsl(0, 0%, 100%, 0.9);

  
  --grayBase: 215, 20%;
  --gray-1: hsl(var(--grayBase), 1%);
  --gray-2: hsl(var(--grayBase), 2%);
  --gray-3: hsl(var(--grayBase), 3%);
  --gray-5: hsl(var(--grayBase), 5%);
  --gray-6: hsl(var(--grayBase), 6%);
  --gray-7: hsl(var(--grayBase), 7%);
  --gray-8: hsl(var(--grayBase), 8%);
  --gray-9: hsl(var(--grayBase), 9%);
  --gray-10: hsl(var(--grayBase), 10%);
  --gray-11: hsl(var(--grayBase), 11%);
  --gray-12: hsl(var(--grayBase), 12%);
  --gray-13: hsl(var(--grayBase), 13%);
  --gray-14: hsl(var(--grayBase), 14%);
  --gray-15: hsl(var(--grayBase), 15%);
  --gray-16: hsl(var(--grayBase), 16%);
  --gray-17: hsl(var(--grayBase), 17%);
  --gray-18: hsl(var(--grayBase), 18%);
  --gray-19: hsl(var(--grayBase), 19%);
  --gray-20: hsl(var(--grayBase), 20%);
  --gray-21: hsl(var(--grayBase), 21%);
  --gray-22: hsl(var(--grayBase), 22%);
  --gray-23: hsl(var(--grayBase), 23%);
  --gray-24: hsl(var(--grayBase), 24%);
  --gray-25: hsl(var(--grayBase), 25%);
  --gray-26: hsl(var(--grayBase), 26%);
  --gray-27: hsl(var(--grayBase), 27%);
  --gray-28: hsl(var(--grayBase), 28%);
  --gray-29: hsl(var(--grayBase), 29%);
  --gray-30: hsl(var(--grayBase), 30%);
  --gray-31: hsl(var(--grayBase), 31%);
  --gray-32: hsl(var(--grayBase), 32%);
  --gray-33: hsl(var(--grayBase), 33%);
  --gray-34: hsl(var(--grayBase), 34%);
  --gray-35: hsl(var(--grayBase), 35%);
  --gray-36: hsl(var(--grayBase), 36%);
  --gray-37: hsl(var(--grayBase), 37%);
  --gray-38: hsl(var(--grayBase), 38%);
  --gray-30: hsl(var(--grayBase), 30%);
  --gray-35: hsl(var(--grayBase), 35%);
  --gray-40: hsl(var(--grayBase), 40%);
  --gray-45: hsl(var(--grayBase), 45%);
  --gray-50: hsl(var(--grayBase), 50%);
  --gray-55: hsl(var(--grayBase), 55%);
  --gray-60: hsl(var(--grayBase), 60%);
  --gray-65: hsl(var(--grayBase), 65%);
  --gray-70: hsl(var(--grayBase), 70%);
  --gray-71: hsl(var(--grayBase), 71%);
  --gray-72: hsl(var(--grayBase), 72%);
  --gray-73: hsl(var(--grayBase), 73%);
  --gray-74: hsl(var(--grayBase), 74%);
  --gray-75: hsl(var(--grayBase), 75%);
  --gray-76: hsl(var(--grayBase), 76%);
  --gray-77: hsl(var(--grayBase), 77%);
  --gray-78: hsl(var(--grayBase), 78%);
  --gray-79: hsl(var(--grayBase), 79%);  
  --gray-80: hsl(var(--grayBase), 80%);
  --gray-81: hsl(var(--grayBase), 81%);
  --gray-82: hsl(var(--grayBase), 82%);
  --gray-83: hsl(var(--grayBase), 83%);
  --gray-84: hsl(var(--grayBase), 84%);
  --gray-85: hsl(var(--grayBase), 85%);
  --gray-86: hsl(var(--grayBase), 86%);
  --gray-87: hsl(var(--grayBase), 87%);
  --gray-88: hsl(var(--grayBase), 88%);
  --gray-89: hsl(var(--grayBase), 89%);
  --gray-90: hsl(var(--grayBase), 90%);
  --gray-91: hsl(var(--grayBase), 91%);
  --gray-92: hsl(var(--grayBase), 92%);
  --gray-93: hsl(var(--grayBase), 93%);
  --gray-94: hsl(var(--grayBase), 94%);
  --gray-95: hsl(var(--grayBase), 95%);
  --gray-96: hsl(var(--grayBase), 96%);
  --gray-97: hsl(var(--grayBase), 97%);
  --gray-98: hsl(var(--grayBase), 98%);
  --gray-99: hsl(var(--grayBase), 99%);
  --gray-100: hsl(var(--grayBase), 100%);


  --gray-transparent-05: hsl(var(--grayBase), 50%, 0.05);
  --gray-transparent-10: hsl(var(--grayBase), 50%, 0.1);
  --gray-transparent-15: hsl(var(--grayBase), 50%, 0.15);
  --gray-transparent-20: hsl(var(--grayBase), 50%, 0.2);
  --gray-transparent-30: hsl(var(--grayBase), 50%, 0.3);
  --gray-transparent-40: hsl(var(--grayBase), 50%, 0.4);
  --gray-transparent-50: hsl(var(--grayBase), 50%, 0.5);
  --gray-transparent-60: hsl(var(--grayBase), 50%, 0.6);
  --gray-transparent-70: hsl(var(--grayBase), 50%, 0.7);
  --gray-transparent-80: hsl(var(--grayBase), 50%, 0.8);
  --gray-transparent-90: hsl(var(--grayBase), 50%, 0.9);


  --blueBase: 215, 100%;
  --blue-10: hsl(var(--blueBase), 10%);
  --blue-15: hsl(var(--blueBase), 15%);
  --blue-20: hsl(var(--blueBase), 20%);
  --blue-25: hsl(var(--blueBase), 25%);
  --blue-30: hsl(var(--blueBase), 30%);
  --blue-35: hsl(var(--blueBase), 35%);
  --blue-40: hsl(var(--blueBase), 40%);
  --blue-45: hsl(var(--blueBase), 45%);
  --blue-50: hsl(var(--blueBase), 50%);
  --blue-55: hsl(var(--blueBase), 55%);
  --blue-60: hsl(var(--blueBase), 60%);
  --blue-65: hsl(var(--blueBase), 65%);
  --blue-70: hsl(var(--blueBase), 70%);
  --blue-75: hsl(var(--blueBase), 75%);
  --blue-80: hsl(var(--blueBase), 80%);
  --blue-85: hsl(var(--blueBase), 85%);
  --blue-90: hsl(var(--blueBase), 90%);
  --blue-95: hsl(var(--blueBase), 95%);
  --blue-100: hsl(var(--blueBase), 98%);

  --blue-transp-10: hsl(var(--blueBase), 50%, 0.1);
  --blue-transp-20: hsl(var(--blueBase), 50%, 0.2);
  --blue-transp-30: hsl(var(--blueBase), 50%, 0.3);
  --blue-transp-40: hsl(var(--blueBase), 50%, 0.4);
  --blue-transp-50: hsl(var(--blueBase), 50%, 0.5);
  --blue-transp-60: hsl(var(--blueBase), 50%, 0.6);
  --blue-transp-70: hsl(var(--blueBase), 50%, 0.7);
  --blue-transp-80: hsl(var(--blueBase), 50%, 0.8);
  --blue-transp-90: hsl(var(--blueBase), 50%, 0.9);

  --blueDeepBase: 220, 90%;
  --blue-deep-5: hsl(var(--blueDeepBase), 5%);
  --blue-deep-10: hsl(var(--blueDeepBase), 10%);
  --blue-deep-15: hsl(var(--blueDeepBase), 15%);
  --blue-deep-20: hsl(var(--blueDeepBase), 20%);
  --blue-deep-25: hsl(var(--blueDeepBase), 25%);
  --blue-deep-30: hsl(var(--blueDeepBase), 30%);
  --blue-deep-35: hsl(var(--blueDeepBase), 35%);
  --blue-deep-40: hsl(var(--blueDeepBase), 40%);
  --blue-deep-45: hsl(var(--blueDeepBase), 45%);
  --blue-deep-50: hsl(var(--blueDeepBase), 50%);
  --blue-deep-55: hsl(var(--blueDeepBase), 55%);
  --blue-deep-60: hsl(var(--blueDeepBase), 60%);
  --blue-deep-65: hsl(var(--blueDeepBase), 65%);
  --blue-deep-70: hsl(var(--blueDeepBase), 70%);
  --blue-deep-75: hsl(var(--blueDeepBase), 75%);
  --blue-deep-80: hsl(var(--blueDeepBase), 80%);
  --blue-deep-85: hsl(var(--blueDeepBase), 85%);
  --blue-deep-90: hsl(var(--blueDeepBase), 90%);
  --blue-deep-95: hsl(var(--blueDeepBase), 95%);
  --blue-deep-100: hsl(var(--blueDeepBase), 98%);

  /* Green */
  --green-40: hsl(120, 90%, 40%);
  --green-50: hsl(120, 90%, 50%);
  --green-60: hsl(120, 90%, 60%);

  /* Red */
  --red-40: hsl(0, 100%, 40%);
  --red-50: hsl(0, 100%, 50%);
  --red-60: hsl(0, 100%, 60%);

  /* Yellow */
  --yellow-40: hsl(45, 100%, 40%);
  --yellow-50: hsl(45, 100%, 50%);
  --yellow-60: hsl(45, 100%, 60%);

}

