<main class="main">
<h1 class="text-display">Edit Project</h1>

<%= render "form", project: @project %>

<p>
  <%= button_to "Back", project_path(@project), method: :get, class: "btn btn-basic" %>
  </p>
</main>

