<h1>Projects</h1>

<% if @projects.any? %>
  <ul>
    <% @projects.each do |project| %>
      <li>
        <%= link_to project.name, project %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No projects yet.</p>
<% end %>

<p>
  <%= button_to "New Project", new_project_path, method: :get, class: "btn btn-primary" %>
</p>

