<main class="main">
<h1 class="text-display"><%= @project.name %></h1>
<p><%= @project.description %></p>

<div class="group-row">
  <%= button_to "Edit", edit_project_path(@project), method: :get, class: "btn" %>
  <%= button_to "Back", projects_path, method: :get, class: "btn" %>
  </div>
</main>
