<h1><%= @project.name %></h1>
<p><%= @project.description %></p>

<div class="project-actions">
  <%= link_to "Edit", edit_project_path(@project), class: "btn btn-secondary" %>
  <%= link_to "Back", projects_path, class: "btn btn-basic" %>
</div>

