:root {

  /* Background colors LIGHT */
    
  --bg-primary--color: var(--blue-50);
  --bg-primary--color-hover: var(--blue-deep-50);
  --bg-primary--color-active: var(--blue-deep-50);

  

  --bg-invert--color: var(--gray-3);
  --bg-invert--color-hover: var(--gray-15);
  --bg-invert--color-active: var(--gray-20);

  --bg-transp--color: var(--gray-transparent-10);
  --bg-transp--color-hover: var(--gray-transparent-15);
  --bg-transp--color-active: var(--gray-transparent-20);

  

  --bg-color-base: var(--gray-96);

  --bg-uno--color: var(--gray-100);
  --bg-uno--color-hover: var(--gray-97);
  --bg-uno--color-active: var(--gray-95);

  --bg-dos--color: var(--gray-97);
  --bg-dos--color-hover: var(--gray-94);
  --bg-dos--color-active: var(--gray-92);

  --bg-tres--color: var(--gray-91);
  --bg-tres--color-hover: var(--gray-88);
  --bg-tres--color-active: var(--gray-87);

  --bg-cuatro--color: var(--gray-89);
  --bg-cuatro--color-hover: var(--gray-86);
  --bg-cuatro--color-active: var(--gray-85);

  --bg-cinco--color: var(--gray-87);
  --bg-cinco--color-hover: var(--gray-85);
  --bg-cinco--color-active: var(--gray-83);

  --bg-seis--color: var(--gray-85);
  --bg-seis--color-hover: var(--gray-83);
  --bg-seis--color-active: var(--gray-81);


  /* Border colors */
  --border-uno--color: var(--gray-90);
  --border-uno--color-hover: var(--gray-85);
  --border-uno--color-active: var(--gray-80);

  --border-dos--color: var(--gray-80);
  --border-dos--color-hover: var(--gray-75);
  --border-dos--color-active: var(--gray-70);

  --border-tres--color: var(--gray-70);
  --border-tres--color-hover: var(--gray-65);
  --border-tres--color-active: var(--gray-60);

  --border-cuatro--color: var(--gray-60);
  --border-cuatro--color-hover: var(--gray-55);
  --border-cuatro--color-active: var(--gray-50);
  

  /* Font colors LIGHT */
  --font-invert--color: var(--white);

  --font-uno--color: var(--gray-10);
  --font-uno--color-hover: var(--gray-15);
  --font-uno--color-active: var(--gray-20);

  --font-dos--color: var(--gray-20);
  --font-dos--color-hover: var(--gray-25);
  --font-dos--color-active: var(--gray-30);
  
  --font-tres--color: var(--gray-30);
  --font-tres--color-hover: var(--gray-35);
  --font-tres--color-active: var(--gray-40);
  
  --font-cuatro--color: var(--gray-40);
  --font-cuatro--color-hover: var(--gray-45);
  --font-cuatro--color-active: var(--gray-50);
  
  --font-cinco--color: var(--gray-50);
  --font-cinco--color-hover: var(--gray-55);
  --font-cinco--color-active: var(--gray-60);
  
  --font-seis--color: var(--gray-60);
  --font-seis--color-hover: var(--gray-65);
  --font-seis--color-active: var(--gray-70);
  
  --font-siete--color: var(--gray-70);
  --font-siete--color-hover: var(--gray-75);
  --font-siete--color-active: var(--gray-80);

  /* Outline colors */
  --outline-uno--color: var(--blue-transp-50);

  
  /* Link colors LIGHT */
  --link-uno--color: var(--blue-50);
  --link-uno--color-hover: var(--blue-deep-50);
  --link-uno--color-active: var(--blue-deep-45);

  /* Success colors */
  --color-success: var(--green-50);
  --color-success-hover: var(--green-60);
  --color-success-active: var(--green-40);

  /* Danger colors LIGHT */
  --color-danger: var(--red-50);
  --color-danger-hover: var(--red-60);
  --color-danger-active: var(--red-40);

  /* Warning colors LIGHT */
  --color-warning: var(--yellow-50);
  --color-warning-hover: var(--yellow-60);
  --color-warning-active: var(--yellow-40);




}

@media (prefers-color-scheme: dark) {
  :root {

    /* Background colors DARK */

    

    --bg-invert--color: var(--gray-97);
    --bg-invert--color-hover: var(--gray-90);
    --bg-invert--color-active: var(--gray-85);

    --bg-transp--color: var(--gray-transparent-05);
    --bg-transp--color-hover: var(--gray-transparent-10);
    --bg-transp--color-active: var(--gray-transparent-15);

    --bg-color-base: var(--gray-6);

    --bg-uno--color: var(--gray-8);
    --bg-uno--color-hover: var(--gray-11);
    --bg-uno--color-active: var(--gray-13);

    --bg-dos--color: var(--gray-11);
    --bg-dos--color-hover: var(--gray-14);
    --bg-dos--color-active: var(--gray-16);

    --bg-tres--color: var(--gray-14);
    --bg-tres--color-hover: var(--gray-17);
    --bg-tres--color-active: var(--gray-20);

    --bg-cuatro--color: var(--gray-17);
    --bg-cuatro--color-hover: var(--gray-20);
    --bg-cuatro--color-active: var(--gray-23);

    --bg-cinco--color: var(--gray-20);
    --bg-cinco--color-hover: var(--gray-23);
    --bg-cinco--color-active: var(--gray-25);

    --bg-seis--color: var(--gray-23);
    --bg-seis--color-hover: var(--gray-26);
    --bg-seis--color-active: var(--gray-28);


    /* Border colors DARK */
    --border-uno--color: var(--gray-12);
    --border-uno--color-hover: var(--gray-22);
    --border-uno--color-active: var(--gray-24);

    --border-dos--color: var(--gray-22);
    --border-dos--color-hover: var(--gray-32);
    --border-dos--color-active: var(--gray-34);

    --border-tres--color: var(--gray-32);
    --border-tres--color-hover: var(--gray-42);
    --border-tres--color-active: var(--gray-44);



    /* Font colors DARK */
    --font-invert--color: var(--black);

    --font-uno--color: var(--gray-98);
    --font-uno--color-hover: var(--gray-95);
    --font-uno--color-active: var(--gray-90);

    --font-dos--color: var(--gray-90);
    --font-dos--color-hover: var(--gray-85);
    --font-dos--color-active: var(--gray-80);
    
    --font-tres--color: var(--gray-80);
    --font-tres--color-hover: var(--gray-75);
    --font-tres--color-active: var(--gray-70);
    
    --font-cuatro--color: var(--gray-70);
    --font-cuatro--color-hover: var(--gray-65);
    --font-cuatro--color-active: var(--gray-60);
    
    --font-cinco--color: var(--gray-60);
    --font-cinco--color-hover: var(--gray-55);
    --font-cinco--color-active: var(--gray-50);
    
    --font-seis--color: var(--gray-50);
    --font-seis--color-hover: var(--gray-45);
    --font-seis--color-active: var(--gray-40);
    
    --font-siete--color: var(--gray-40);
    --font-siete--color-hover: var(--gray-35);
    --font-siete--color-active: var(--gray-30);

    /* Outline colors DARK */
    --outline-uno--color: var(--blue-transp-50);
    
    /* Link colors DARK */
    --link-uno--color: var(--blue-60);
    --link-uno--color-hover: var(--blue-70);
    --link-uno--color-active: var(--blue-75);

    /* Success colors DARK */
    --color-success: var(--green-60);
    --color-success-hover: var(--green-70);
    --color-success-active: var(--green-50);

    /* Danger colors DARK */
    --color-danger: var(--red-60);
    --color-danger-hover: var(--red-70);
    --color-danger-active: var(--red-50);

    /* Warning colors DARK */
    --color-warning: var(--yellow-60);
    --color-warning-hover: var(--yellow-70);
    --color-warning-active: var(--yellow-50);


  }
}