:root {

  /* Background colors LIGHT */
    
  --color-bg-primary: var(--blue-50);
  --color-bg-primary-hover: var(--blue-deep-50);
  --color-bg-primary-active: var(--blue-deep-50);

  --color-bg-base: var(--gray-97);

  --color-bg-invert: var(--gray-3);
  --color-bg-invert-hover: var(--gray-15);
  --color-bg-invert-active: var(--gray-20);

  --color-bg-uno: var(--gray-95);
  --color-bg-uno-hover: var(--gray-92);
  --color-bg-uno-active: var(--gray-91);

  --color-bg-dos: var(--gray-93);
  --color-bg-dos-hover: var(--gray-90);
  --color-bg-dos-active: var(--gray-89);

  --color-bg-tres: var(--gray-91);
  --color-bg-tres-hover: var(--gray-88);
  --color-bg-tres-active: var(--gray-87);

  --color-bg-cuatro: var(--gray-89);
  --color-bg-cuatro-hover: var(--gray-86);
  --color-bg-cuatro-active: var(--gray-85);

  --color-bg-cinco: var(--gray-87);
  --color-bg-cinco-hover: var(--gray-85);
  --color-bg-cinco-active: var(--gray-83);

  --color-bg-seis: var(--gray-85);
  --color-bg-seis-hover: var(--gray-83);
  --color-bg-seis-active: var(--gray-81);

  /* Font colors LIGHT */
  --color-font-invert: var(--white);

  --color-font-uno: var(--gray-10);
  --color-font-uno-hover: var(--gray-15);
  --color-font-uno-active: var(--gray-20);

  --color-font-dos: var(--gray-20);
  --color-font-dos-hover: var(--gray-25);
  --color-font-dos-active: var(--gray-30);
  
  --color-font-tres: var(--gray-30);
  --color-font-tres-hover: var(--gray-35);
  --color-font-tres-active: var(--gray-40);
  
  --color-font-cuatro: var(--gray-40);
  --color-font-cuatro-hover: var(--gray-45);
  --color-font-cuatro-active: var(--gray-50);
  
  --color-font-cinco: var(--gray-50);
  --color-font-cinco-hover: var(--gray-55);
  --color-font-cinco-active: var(--gray-60);
  
  --color-font-seis: var(--gray-60);
  --color-font-seis-hover: var(--gray-65);
  --color-font-seis-active: var(--gray-70);
  
  --color-font-siete: var(--gray-70);
  --color-font-siete-hover: var(--gray-75);
  --color-font-siete-active: var(--gray-80);

  /* Outline colors */
  --color-outline-uno: var(--blue-transp-50);

  
  /* Link colors LIGHT */
  --color-link-uno: var(--blue-50);
  --color-link-uno-hover: var(--blue-deep-50);
  --color-link-uno-active: var(--blue-deep-45);

  /* Success colors */
  --color-success: var(--green-50);
  --color-success-hover: var(--green-60);
  --color-success-active: var(--green-40);

  /* Danger colors LIGHT */
  --color-danger: var(--red-50);
  --color-danger-hover: var(--red-60);
  --color-danger-active: var(--red-40);

  /* Warning colors LIGHT */
  --color-warning: var(--yellow-50);
  --color-warning-hover: var(--yellow-60);
  --color-warning-active: var(--yellow-40);




}

@media (prefers-color-scheme: dark) {
  :root {

    /* Background colors DARK */

    --color-bg-base: var(--gray-8);

    --color-bg-invert: var(--gray-97);
    --color-bg-invert-hover: var(--gray-90);
    --color-bg-invert-active: var(--gray-85);

    --color-bg-uno: var(--gray-8);
    --color-bg-uno-hover: var(--gray-11);
    --color-bg-uno-active: var(--gray-12);

    --color-bg-dos: var(--gray-11);
    --color-bg-dos-hover: var(--gray-14);
    --color-bg-dos-active: var(--gray-15);

    --color-bg-tres: var(--gray-14);
    --color-bg-tres-hover: var(--gray-15);
    --color-bg-tres-active: var(--gray-16);

    --color-bg-cuatro: var(--gray-17);
    --color-bg-cuatro-hover: var(--gray-20);
    --color-bg-cuatro-active: var(--gray-21);

    --color-bg-cinco: var(--gray-20);
    --color-bg-cinco-hover: var(--gray-23);
    --color-bg-cinco-active: var(--gray-24);

    --color-bg-seis: var(--gray-23);
    --color-bg-seis-hover: var(--gray-26);
    --color-bg-seis-active: var(--gray-27);

    /* Font colors DARK */
    --color-font-invert: var(--black);

    --color-font-uno: var(--gray-98);
    --color-font-uno-hover: var(--gray-95);
    --color-font-uno-active: var(--gray-90);

    --color-font-dos: var(--gray-90);
    --color-font-dos-hover: var(--gray-85);
    --color-font-dos-active: var(--gray-80);
    
    --color-font-tres: var(--gray-80);
    --color-font-tres-hover: var(--gray-75);
    --color-font-tres-active: var(--gray-70);
    
    --color-font-cuatro: var(--gray-70);
    --color-font-cuatro-hover: var(--gray-65);
    --color-font-cuatro-active: var(--gray-60);
    
    --color-font-cinco: var(--gray-60);
    --color-font-cinco-hover: var(--gray-55);
    --color-font-cinco-active: var(--gray-50);
    
    --color-font-seis: var(--gray-50);
    --color-font-seis-hover: var(--gray-45);
    --color-font-seis-active: var(--gray-40);
    
    --color-font-siete: var(--gray-40);
    --color-font-siete-hover: var(--gray-35);
    --color-font-siete-active: var(--gray-30);

    /* Outline colors DARK */
    --color-outline-uno: var(--blue-transp-50);
    
    /* Link colors DARK */
    --color-link-uno: var(--blue-60);
    --color-link-uno-hover: var(--blue-70);
    --color-link-uno-active: var(--blue-75);

    /* Success colors DARK */
    --color-success: var(--green-60);
    --color-success-hover: var(--green-70);
    --color-success-active: var(--green-50);

    /* Danger colors DARK */
    --color-danger: var(--red-60);
    --color-danger-hover: var(--red-70);
    --color-danger-active: var(--red-50);

    /* Warning colors DARK */
    --color-warning: var(--yellow-60);
    --color-warning-hover: var(--yellow-70);
    --color-warning-active: var(--yellow-50);


  }
}