:root {
  --bg-disabled--color: hsla(215, 5%, 50%, 0.20);
  --font-disabled--color: hsla(215, 5%, 50%, 0.6);
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-disabled--color: hsla(215, 5%, 50%, 0.15);
    --font-disabled--color: hsla(215, 5%, 50%, 0.45);
  }
}