:root {

  --element--bg-color: var(--bg-tres--color);
  --element--bg-color-hover: var(--bg-tres--color-hover);
  --element--bg-color-active: var(--bg-tres--color-active);

  --element--bg-transp--color: var(--bg-transp--color);
  --element--bg-transp--color-hover: var(--bg-transp--color-hover-50);
  --element--bg-transp--color-active: var(--bg-transp--color-active-50);

  --element--border-color: var(--border-uno--color);
  --element--border-color-hover: var(--border-uno--color-hover);
  --element--border-color-active: var(--border-uno--color-active);
  --element--border-radius: .375em;

  --element--padding-inline: 0.75em;
  --element--gap: var(--px-4);

  --element--focus-outline-width: var(--px-2);
  --element--focus-outline-offset: 1px;
  --element--focus-outline-style: solid;

  --element--placeholder-color: var(--font-siete--color);


  /* Tiny */
  --element-xs--height: var(--px-24);
  --element-xs--font-size: var(--px-12);
  --element-xs--line-height: var(--px-16);
  --element-xs--icon-size: var(--px-16);

  /* Small */
  --element-s--height: var(--px-32);
  --element-s--font-size: var(--px-14);
  --element-s--line-height: var(--px-20);
  --element-s--icon-size: var(--px-20);

  /* Medium */
  --element-m--height: var(--px-40);
  --element-m--font-size: var(--px-16);
  --element-m--line-height: var(--px-24);
  --element-m--icon-size: var(--px-24);

  /* Large */
  --element-l--height: var(--px-48);
  --element-l--font-size: var(--px-18);
  --element-l--line-height: var(--px-28);
  --element-l--padding-inline: var(--px-16);
  --element-l--icon-size: var(--px-28);

  /* Grand */
  --element-xl--height: var(--px-56);
  --element-xl--font-size: var(--px-20);
  --element-xl--line-height: var(--px-32);
  --element-xl--icon-size: var(--px-32);

  /* Huge */
  --element-xxl--height: var(--px-64);
  --element-xxl--font-size: var(--px-24);
  --element-xxl--line-height: var(--px-36);
  --element-xxl--icon-size: var(--px-36);
}