:root {

  --padding-inline-edge: clamp(var(--px-16), 2vw, var(--px-32));

  --gap-xs: var(--px-8);
  --gap-small: var(--px-8);
  --gap-m: var(--px-16);
  --gap-l: var(--px-24);

  --group-row--gap: var(--gap-m);
}