.input {
  --input--height: var(--element-medium--height);
  --input--icon-size: var(--element-medium--icon-size);
  --input--padding-inline: var(--element--padding-inline);
  --input--optical-compensation: 0.125em;

  display: block;
  width: 100%;
  
  padding-inline: var(--input--padding-inline);
  
  height: var(--element-medium--height);
  font-size: var(--element-medium--font-size);
  line-height: 1;
  font-weight: 500;
  
  /* background-color: var(--element--color-bg); */
  border: 1px solid var(--element--color-bg-hover);
  border-radius: var(--element--radius);
  color: var(--color-font-uno);
  
  transition: background-color 0.1s linear, border-color 0.1s linear;
  
  /* States ------------------------------------------------------------ */
  &:hover:not(:disabled) {
    background-color: var(--element--color-bg-hover);
    border-color: var(--element--color-bg-active);
  }

  &:focus:not(:disabled) {
    background-color: var(--element--color-bg);
    border-color: var(--color-outline-uno);
    outline: none;
  }

  &:focus-visible {
    outline-width: 2px;
    outline-offset: 0px;
    outline-color: var(--color-outline-uno);
    transition: outline 0.075s linear;
  }

  &:disabled {
    background-color: var(--disabled-color-bg);
    border-color: var(--disabled-color-bg);
    color: var(--disabled-color-font);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--color-font-cuatro);
  }

  &:disabled::placeholder {
    color: var(--disabled-color-font);
  }
}

/* Wrapper ------------------------------------------------------------ */

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label ------------------------------------------------------------ */

.input-label {
  display: flex;
  align-items: center;
  margin-bottom: var(--px-4);
  font-size: var(--font-size-s);
  line-height: var(--px-20);
  font-weight: 500;
  color: var(--color-font-dos);
  cursor: pointer;
}

.input-label-text {
  display: inline-block;
}

.input-label-required {
  display: inline-block;
  margin-left: var(--px-4);
  color: var(--color-danger);
  font-weight: 600;
}

.input-wrapper:has(.input:disabled) .input-label {
  color: var(--disabled-color-font);
  cursor: not-allowed;
}

/* Container ------------------------------------------------------------ */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Icons ------------------------------------------------------------ */

.input-icon {
  position: absolute;
  left: var(--input--padding-inline);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--input--icon-size);
  height: var(--input--icon-size);
  color: var(--color-font-tres);
  pointer-events: none;
}

.input-icon svg,
.input-icon .input-icon-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

.input-wrapper:has(.input:disabled) .input-icon {
  color: var(--disabled-color-font);
}

/* Input with icon - add left padding for icon space */
.input-with-icon {
  padding-left: calc(var(--input--padding-inline) + var(--input--icon-size) + var(--element--gap));
}

/* Error state ------------------------------------------------------------ */

.input-wrapper-error {
  .input {
    border-color: var(--color-danger);
  }

  .input-label {
    color: var(--color-danger);
  }
}

.input-error {
  margin-top: var(--px-6);
  font-size: var(--font-size-s);
  line-height: var(--px-20);
  color: var(--color-danger);
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.1s linear, height 0.1s linear;
  
  &.input-error-visible {
    opacity: 1;
    height: auto;
  }
}
