/* ----- */
/* Input Component */
/* ----- */

.input-wrapper {
  --input--height: var(--element-medium--height);
  --input--icon-size: var(--element-medium--icon-size);
  --input--padding-inline: var(--element--padding-inline);
  --input--font-size: var(--element-medium--font-size);

  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Sizes ------------------------------------------------------------ */

.input-wrapper-tiny {
  --input--height: var(--element-tiny--height);
  --input--icon-size: var(--element-tiny--icon-size);
  --input--font-size: var(--element-tiny--font-size);
}

.input-wrapper-small {
  --input--height: var(--element-small--height);
  --input--icon-size: var(--element-small--icon-size);
  --input--font-size: var(--element-small--font-size);
}

.input-wrapper-large {
  --input--height: var(--element-large--height);
  --input--icon-size: var(--element-large--icon-size);
  --input--font-size: var(--element-large--font-size);
  --input--padding-inline: var(--element-large--padding-inline);
}

.input-wrapper-grand {
  --input--height: var(--element-grand--height);
  --input--icon-size: var(--element-grand--icon-size);
  --input--font-size: var(--element-grand--font-size);
  --input--padding-inline: var(--element-large--padding-inline);
}

.input-wrapper-huge {
  --input--height: var(--element-huge--height);
  --input--icon-size: var(--element-huge--icon-size);
  --input--font-size: var(--element-huge--font-size);
  --input--padding-inline: var(--element-large--padding-inline);
}

/* Base Input ------------------------------------------------------------ */

.input {
  display: block;
  width: 100%;
  
  padding-inline: var(--input--padding-inline);
  height: var(--input--height);
  font-size: var(--input--font-size);
  line-height: 1;
  font-weight: 500;
  
  background-color: var(--white);
  box-shadow: inset 0 0 0 1px var(--element--color-border);
  border-radius: var(--element--radius);
  color: var(--color-font-uno);
  
  transition: background-color 0.1s linear, box-shadow 0.1s linear;
  
  &:hover:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--element--color-border-hover);
  }

  &:focus:not(:disabled) {
    background-color: var(--white);
    box-shadow: inset 0 0 0 2px var(--color-outline-uno);
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    background-color: var(--disabled-color-bg);
    box-shadow: inset 0 0 0 1px var(--disabled-color-bg);
    color: var(--disabled-color-font);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--color-font-cuatro);
  }

  &:disabled::placeholder {
    color: var(--disabled-color-font);
  }
}

/* Container ------------------------------------------------------------ */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Icons ------------------------------------------------------------ */

.input-icon {
  position: absolute;
  left: var(--input--padding-inline);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--input--icon-size);
  height: var(--input--icon-size);
  color: var(--color-font-tres);
  pointer-events: none;
}

.input-icon svg,
.input-icon .input-icon-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

.input-wrapper:has(.input:disabled) .input-icon {
  color: var(--disabled-color-font);
}

.input-with-icon {
  padding-left: calc(var(--input--padding-inline) + var(--input--icon-size) + var(--element--gap));
}

/* Label ------------------------------------------------------------ */

.input-label {
  display: flex;
  align-items: center;
  margin-bottom: var(--px-4);
  font-size: var(--font-size-s);
  line-height: var(--px-20);
  font-weight: 500;
  color: var(--color-font-dos);
  cursor: pointer;
}

.input-label-text {
  display: inline-block;
}

.input-label-required {
  display: inline-block;
  margin-left: var(--px-4);
  color: var(--color-danger);
  font-weight: 600;
}

.input-wrapper:has(.input:disabled) .input-label {
  color: var(--disabled-color-font);
  cursor: not-allowed;
}

/* Error state ------------------------------------------------------------ */

.input-wrapper-error {
  .input {
    box-shadow: inset 0 0 0 1px var(--color-danger);
    
    &:focus:not(:disabled) {
      box-shadow: inset 0 0 0 2px var(--color-danger);
    }
  }

  .input-label {
    color: var(--color-danger);
  }
  
  .input-icon {
    color: var(--color-danger);
  }
}

.input-error {
  margin-top: var(--px-6);
  font-size: var(--font-size-s);
  line-height: var(--px-20);
  color: var(--color-danger);
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.1s linear, height 0.1s linear;
  
  &.input-error-visible {
    opacity: 1;
    height: auto;
  }
}
