
.input-wrapper {
  --input--height: var(--element-medium--height);
  --input--icon-size: var(--element-medium--icon-size);
  --input--padding-inline: var(--element--padding-inline);
  --input--font-size: var(--element-medium--font-size);

  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Sizes ------------------------------------------------------------ */

.input-wrapper-tiny {
  --input--height: var(--element-tiny--height);
  --input--icon-size: var(--element-tiny--icon-size);
  --input--font-size: var(--element-tiny--font-size);
}

.input-wrapper-small {
  --input--height: var(--element-small--height);
  --input--icon-size: var(--element-small--icon-size);
  --input--font-size: var(--element-small--font-size);
}

.input-wrapper-large {
  --input--height: var(--element-large--height);
  --input--icon-size: var(--element-large--icon-size);
  --input--font-size: var(--element-large--font-size);
  --input--padding-inline: var(--element-large--padding-inline);
}

/* Base Input ------------------------------------------------------------ */

.input {
  display: block;
  width: 100%;
  
  padding-inline: var(--input--padding-inline);
  height: var(--input--height);
  font-size: var(--input--font-size);
  line-height: 1;
  font-weight: 500;
  
  background-color: var(--element--bg-color-transp);
  box-shadow: inset 0 0 0 1px var(--element--border-color);
  border-radius: var(--element--border-radius);
  color: var(--color-font-uno);
  
  transition: background-color 0.1s linear, box-shadow 0.1s linear;
  
  &:hover:not(:disabled) {
    box-shadow: inset 0 0 0 1px var(--element--border-color-hover);
  }

  &:focus:not(:disabled) {
    outline: none;
    box-shadow: 0 0 0 2px var(--element--border-color-active);
  }

  &:disabled {
    background-color: var(--disabled--bg-color);
    box-shadow: inset 0 0 0 1px var(--disabled--bg-color);
    color: var(--disabled--font-color);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--color-font-siete);
  }

  &:disabled::placeholder {
    color: var(--disabled--font-color);
  }
}

/* Container ------------------------------------------------------------ */

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Icons ------------------------------------------------------------ */

.input-icon {
  position: absolute;
  left: var(--input--padding-inline);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--input--icon-size);
  height: var(--input--icon-size);
  color: var(--color-font-tres);
  pointer-events: none;
}

.input-icon svg,
.input-icon .input-icon-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

.input-wrapper:has(.input:disabled) .input-icon {
  color: var(--disabled--font-color);
}

.input-with-icon {
  padding-left: calc(var(--input--padding-inline) + var(--input--icon-size) + var(--element--gap));
}

/* Label ------------------------------------------------------------ */

.input-label {
  display: flex;
  align-items: center;
  margin-bottom: var(--px-4);
  font-weight: 600;
}

.input-label-required {
  display: inline-block;
  margin-left: var(--px-4);
  color: var(--color-danger);
}

.input-wrapper:has(.input:disabled) .input-label {
  color: var(--disabled--font-color);
  cursor: not-allowed;
}

/* Error state ------------------------------------------------------------ */

.input-wrapper-error {
  .input {
    box-shadow: inset 0 0 0 1px var(--color-danger);
    
    &:focus:not(:disabled) {
      outline-style: var(--element--focus-outline-style);
      outline-color: var(--color-danger);
    }
  }

  .input-label {
    color: var(--color-danger);
  }
  
  .input-icon {
    color: var(--color-danger);
  }
}

.input-error {
  margin-top: var(--px-6);
  color: var(--color-danger);
  
  overflow: hidden;
  font-weight: 400;
  
  &.input-error-visible {
    opacity: 1;
    height: auto;
  }
}

.input-description {
  margin-top: var(--px-6);
  color: var(--color-font-tres);
  overflow: hidden;
  font-weight: 400;
}
