.input-wrapper {
  --input--height: var(--element-m--height);
  --input--icon-size: var(--element-m--icon-size);
  --input--padding-inline: var(--element--padding-inline);
  --input--font-size: var(--element-m--font-size);

  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--px-6);
}

/* Sizes ------------------------------------------------------------ */

.input-wrapper-tiny {
  --input--height: var(--element-xs--height);
  --input--icon-size: var(--element-xs--icon-size);
  --input--font-size: var(--element-xs--font-size);
}

.input-wrapper-small {
  --input--height: var(--element-s--height);
  --input--icon-size: var(--element-s--icon-size);
  --input--font-size: var(--element-s--font-size);
}

.input-wrapper-large {
  --input--height: var(--element-l--height);
  --input--icon-size: var(--element-l--icon-size);
  --input--font-size: var(--element-l--font-size);
  --input--padding-inline: var(--element-l--padding-inline);
}



/* Base Input ------------------------------------------------------------ */

.input {
  display: block;
  width: 100%;
  
  padding-inline: var(--input--padding-inline);
  height: var(--input--height);
  font-size: var(--input--font-size);
  line-height: 1;
  font-weight: 500;
  
  background-color: var(--element--bg-transp--color);
  outline: solid 1px var(--element--border-color);
  border-radius: var(--element--border-radius);
  color: var(--font-uno--color);
  
  transition: background-color 0.1s linear;
  
  &:hover:not(:disabled) {
    outline: solid 1px var(--element--border-color-hover);

    &::placeholder {
      opacity: 0.75;
    }
    /* outline-offset: -1px; */
  }

  &:focus:not(:disabled) {
    outline: solid 2px var(--element--border-color-hover);
    outline-offset: 1px;

    &::placeholder {
      opacity: 0.60;
    }
  }

  &:disabled {
    background-color: var(--bg-disabled--color);
    color: var(--font-disabled--color);
    cursor: not-allowed;
  }

  &::placeholder {
    color: var(--element--placeholder-color);
    font-weight: 400;
  }

  &:disabled::placeholder {
    color: var(--font-disabled--color);
  }
}

/* Container ------------------------------------------------------------ */
.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

/* Icons ------------------------------------------------------------ */
.input-icon {
  position: absolute;
  left: var(--input--padding-inline);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--input--icon-size);
  height: var(--input--icon-size);
  color: var(--font-tres--color);
  pointer-events: none;
}

.input-icon svg,
.input-icon .input-icon-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

.input-wrapper:has(.input:disabled) .input-icon {
  color: var(--font-disabled--color);
}

.input-with-icon {
  padding-left: calc(var(--input--padding-inline) + var(--input--icon-size) + var(--element--gap));
}

/* Label ------------------------------------------------------------ */
.input-label {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.input-label-required {
  display: inline-block;
  margin-left: var(--px-4);
  color: var(--color-danger);
}

.input-wrapper:has(.input:disabled) .input-label {
  color: var(--font-disabled--color);
  cursor: not-allowed;
}


/* Description ------------------------------------------------------------ */
.input-description {
  color: var(--font-cinco--color);
  font-weight: 400;
}


/* Error state ------------------------------------------------------------ */
.input-wrapper-error {
  .input {
    outline: solid 1px var(--color-danger);
    outline-offset: -1px;

    &:hover:not(:disabled) {
      outline: solid 1px var(--color-danger);
      outline-offset: -1px;
    }
    
    &:focus:not(:disabled) {
      outline: solid 2px var(--color-danger);
      outline-offset: -1px;
    }
  }

  .input-label {
    color: var(--color-danger);
  }
  
  .input-icon {
    color: var(--color-danger);
  }
}

.input-error {
  color: var(--color-danger);
  font-weight: 400;
  display: none;
  
  &.input-error-visible {
    display: block;
  }
}


