.layout-header {

  --layout-header-height: var(--px-80);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-inline-edge);
  height: var(--layout-header-height);
}


.layout-header--left {
  display: flex;
  align-items: center;
  gap: var(--px-12);
  flex: 1;
  justify-content: space-between;
}

.layout-header--brand {
  font-weight: 600;
  font-size: var(--px-22);
  
  
  a {
    color: var(--font-uno--color);
    text-decoration: none;
    
    &:hover {
      color: var(--font-uno--color);
    }
  }
}

.layout-header--right {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  flex-direction: row;
}

.layout-header--nav {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.layout-header--link {

}

.layout-header--actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-s);
}

.layout-header--email {

}