.layout-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  height: var(--px-80);
  background-color: var(--color-bg-uno);
  

  &-left {
    display: flex;
    align-items: center;
    gap: var(--px-12);
  }

  &-brand {
    font-size: var(--px-18);
    font-weight: 700;
    color: var(--color-text-primary);
  }

  &-right {
    display: flex;
    align-items: center;
    gap: var(--px-16);
    flex-direction: row;
  }

  &-nav {
    display: flex;
    align-items: center;
    gap: var(--px-16);
  }

  &-link {
    color: var(--color-text-primary);
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--px-12);
  }

  &-email {
    font-size: var(--px-14);
    color: var(--color-text-secondary);
  }
}

