.layout-header {

  --layout-header-height: var(--px-80);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-inline-edge);
  height: var(--layout-header-height);
}


.layout-header--left {
  display: flex;
  align-items: center;
  gap: var(--px-12);
}

.layout-header--brand {
  font-weight: 700;
}

.layout-header--right {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
  flex-direction: row;
}

.layout-header--nav {
  display: flex;
  align-items: center;
  gap: var(--gap-m);
}

.layout-header--link {

}

.layout-header--actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-s);
}

.layout-header--email {

}