.btn {
  --btn--height: var(--element-medium--height);
  --btn--icon-size: var(--element-medium--icon-size);
  --optical-compensation: 0.25em;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--element--gap);
  
  padding-inline: var(--element--padding-inline);
  
  height: var(--element-medium--height);
  font-size: var(--element-medium--font-size);
  line-height: 1; /* Reset line-height to use height/flex for centering */
  font-weight: 500;
  
  background-color: var(--element--color-bg);
  border-radius: var(--element--radius);
  
  
  
  transition: background-color 0.1s linear;
  
  /* States ------------------------------------------------------------ */
  &:hover:not(:disabled) {
    background-color: var(--element--color-bg-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--element--color-bg-active);
    transform: translateY(1px);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline-uno);
  }

  &:disabled {
    background-color: var(--disabled-color-bg);
    color: var(--disabled-color-font);
    cursor: not-allowed;
  }
}



/* Icons ------------------------------------------------------------ */

.btn-icon {
  width: var(--btn--icon-size);
  height: var(--btn--icon-size);
}

.btn-icon svg,
.btn-icon .btn-icon-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

/* Icon Position */
.btn-icon-left {
  order: -1;
}
.btn-icon-right {
  order: 1;
}

/* Icon-only Button (square) */
.btn-icon-only {
  width: var(--btn--height);
  min-width: var(--btn--height);
  padding: 0;
  justify-content: center;
}

/* Optical Compensation: add extra padding on the side without icon */
.btn:not(.btn-icon-only):has(.btn-icon-left) {
  padding-inline-end: calc(.75em + var(--optical-compensation));
}

.btn:not(.btn-icon-only):has(.btn-icon-right) {
  padding-inline-start: calc(.75em + var(--optical-compensation));
}



/* Sizes ------------------------------------------------------------ */

.btn-tiny {
  height: var(--element-tiny--height);
  font-size: var(--element-tiny--font-size);
  line-height: var(--element-tiny--line-height);
  --btn--icon-size: var(--element-tiny--icon-size);
}

.btn-tiny.btn-icon-only {
  width: var(--element-tiny--height);
  min-width: var(--element-tiny--height);
}

.btn-small {
  height: var(--element-small--height);
  font-size: var(--element-small--font-size);
  line-height: var(--element-small--line-height);
  --btn--icon-size: var(--element-small--icon-size);
}

.btn-small.btn-icon-only {
  width: var(--element-small--height);
  min-width: var(--element-small--height);
}



/* Override optical compensation for smaller sizes (using their specific padding) */
.btn-tiny:not(.btn-icon-only):has(.btn-icon-left) {
  padding-inline-end: calc(var(--element--padding-inline) + var(--optical-compensation));
}
.btn-tiny:not(.btn-icon-only):has(.btn-icon-right) {
  padding-inline-start: calc(var(--element--padding-inline) + var(--optical-compensation));
}

.btn-small:not(.btn-icon-only):has(.btn-icon-left) {
  padding-inline-end: calc(var(--element--padding-inline) + var(--optical-compensation));
}
.btn-small:not(.btn-icon-only):has(.btn-icon-right) {
  padding-inline-start: calc(var(--element--padding-inline) + var(--optical-compensation));
}



/* Variants ------------------------------------------------------------ */


/* Primary Variant */
.btn-primary {
  background-color: var(--color-bg-primary);
  color: var(--white);
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--color-bg-primary-hover);
}

.btn-primary:active:not(:disabled) {
  background-color: var(--color-bg-primary-active);
}

/* Contrast Variant */
.btn-contrast {
  background-color: var(--color-bg-invert);
  color: var(--color-font-invert);
  
  &:hover:not(:disabled) {
    background-color: var(--color-bg-invert-hover);
  }

  &:active:not(:disabled) {
    background-color: var(--color-bg-invert-active);
  }
}

/* Modifiers ------------------------------------------------------------ */

.btn-rounded {
  border-radius: var(--radius-full);
}
