.ui-kit {
  display: flex;
  flex-direction: row;
  background-color: var(--bg-color-base);
}

.ui-kit-sidebar {
  width: clamp(200px, 15vw, 300px);
  /* background-color: var(--bg-uno--color); */
  flex-shrink: 0; 
  /* height: 100vh; */
}

.ui-kit-nav-list {
  list-style: none;
  padding: var(--px-12);
}

.ui-kit-nav-link {
  display: flex;
  align-items: center;
  color: var(--font-tres--color);
  text-decoration: none;
  height: var(--px-40);
  padding-inline: var(--px-12);
  border-radius: var(--radius-xs);
}

.ui-kit-nav-link:hover {
  background: var(--bg-dos--color);
  color: var(--font-uno--color);
  text-decoration: none;
}

.ui-kit-nav-link.active {
  background: var(--bg-dos--color);
}

.ui-kit-main {
  display: flex;
  flex-direction: column;
  gap: var(--px-40);
  padding: var(--px-48) var(--px-64);
  margin: 0 auto;
  width: 100%;
  background-color: var(--bg-uno--color);
}

.ui-kit-section {
  display: flex;
  flex-direction: column;
  gap: var(--px-16);
}

.ui-kit-element-group {
  display: flex;
  flex-direction: column;
  gap: var(--px-20);
}

.ui-kit-row {
  display: flex;
  align-items: center;
  gap: var(--px-16);
  margin-bottom: var(--px-16);
}

.ui-kit-row-label {
  min-width: 100px;
  font-size: var(--font-size-s);
  opacity: 0.6;
}

.ui-kit-row-content {
  display: flex;
  align-items: center;
  gap: var(--px-8);
}

.ui-kit-element {
  max-width: 400px;
}
