.btn-new {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--px-8);
  
  padding-inline: var(--element-padding-inline);
  
  font-size: var(--font-size-m);
  line-height: var(--px-32);
  font-weight: 500;
    
  background-color: var(--element-color-bg);
  border-radius: var(--element-radius);
  
  transition: background-color 0.1s linear;

  &:hover {
    background-color: var(--element-color-bg-hover);
  }

  &:active {
    background-color: var(--element-color-bg-active);
    transform: translateY(1px);
  }

  &:focus-visible {
    outline: 2px solid var(--color-outline-uno);
  }

  &:disabled {
    background-color: var(--disabled-color-bg);
    color: var(--disabled-color-font);
    pointer-events: none;
  }
}


/* Sizes ------------------------------------------------------------ */

.btn-new-small {
  font-size: var(--font-size-s);
  line-height: var(--px-24);
}

.btn-new-large {
  font-size: var(--font-size-l);
  line-height: var(--px-40);
  padding-inline: 1em;
}


/* Variants: Primary ------------------------------------------------ */
.btn-new-primary {
  background-color: var(--color-bg-primary);
  color: var(--white);
}

.btn-new-primary:hover {
  background-color: var(--color-bg-primary-hover);
}

.btn-new-primary:active {
  background-color: var(--color-bg-primary-active);
}


/* Variants: Contrast ---------------------------------------------- */

.btn-new-contrast {
  background-color: var(--color-bg-invert);
  color: var(--color-font-invert);
  
  &:hover {
    background-color: var(--color-bg-invert-hover);
  }

  &:active {
    background-color: var(--color-bg-invert-active);
  }
}

/* Rounded ---------------------------------------------------------- */
.btn-new-rounded {
  border-radius: var(--radius-full);
}