/* Input component - Sizes */
/* Currently only medium size is implemented (default) */
/* Future sizes: tiny, small, large, xlarge */

/* Medium size is default, no additional class needed */
/* All medium size tokens are applied in _input_base.scss */

