/* Input component - Base styles */

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input-label {
  display: flex;
  align-items: center;
  margin-bottom: var(--input--label-margin-bottom);
  font-size: var(--input--label-font-size);
  line-height: var(--input--label-line-height);
  font-weight: var(--input--label-font-weight);
  color: var(--input--label-color);
  cursor: pointer;
}

.input-label-text {
  display: inline-block;
}

.input-label-required {
  display: inline-block;
  margin-left: var(--input--required-margin-left);
  color: var(--input--required-color);
  font-weight: 600;
}

.input-container {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  width: 100%;
  font-family: var(--font-family-sans);
  line-height: var(--input-medium--line-height);
  color: var(--input--text-color);
  
  padding-inline: var(--input-medium--padding-inline);
  padding-block: var(--input-medium--padding-block);
  
  background-color: var(--input--bg);
  /* border: var(--input--border-width) solid var(--input--border-color); */
  box-shadow: inset 0 0 0 var(--input--border-width) var(--input--border-color);
  border-radius: var(--input--border-radius);
  
  transition: box-shadow 0.15s linear, background-color 0.15s linear;
  
  &::placeholder {
    color: var(--input--placeholder-color);
  }

  /* Input with icon - add left padding for icon space */
  &.input-with-icon {
    padding-left: var(--input-medium--padding-inline-with-icon);
  }
}

.input-icon {
  position: absolute;
  left: var(--input-medium--icon-position-left);
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--input-medium--icon-size);
  height: var(--input-medium--icon-size);
  color: var(--input--icon-color);
  pointer-events: none;
}

.input-icon-svg {
  width: 100%;
  height: 100%;
  display: block;
  stroke: currentColor;
  fill: none;
  stroke-width: 2;
}

