/* Color tokens */
/* Using HSL/HSLA format only */

:root {
  --black: hsl(0, 0%, 0%);
  --black-10: hsl(0, 0%, 0%, 0.1);
  --black-transparent-20: hsl(0, 0%, 0%, 0.2);
  --black-transparent-30: hsl(0, 0%, 0%, 0.3);
  --black-transparent-40: hsl(0, 0%, 0%, 0.4);
  --black-transparent-50: hsl(0, 0%, 0%, 0.5);
  --black-transparent-60: hsl(0, 0%, 0%, 0.6);
  --black-transparent-70: hsl(0, 0%, 0%, 0.7);
  --black-transparent-80: hsl(0, 0%, 0%, 0.8);
  --black-transparent-90: hsl(0, 0%, 0%, 0.9);

  --white: hsl(0, 0%, 100%);
  --white-transparent-10: hsl(0, 0%, 100%, 0.1);
  --white-transparent-20: hsl(0, 0%, 100%, 0.2);
  --white-transparent-30: hsl(0, 0%, 100%, 0.3);
  --white-transparent-40: hsl(0, 0%, 100%, 0.4);
  --white-transparent-50: hsl(0, 0%, 100%, 0.5);
  --white-transparent-60: hsl(0, 0%, 100%, 0.6);
  --white-transparent-70: hsl(0, 0%, 100%, 0.7);
  --white-transparent-80: hsl(0, 0%, 100%, 0.8);
  --white-transparent-90: hsl(0, 0%, 100%, 0.9);

  --gray-1: hsl(215, 10%, 1%);
  --gray-2: hsl(215, 10%, 2%);
  --gray-3: hsl(215, 10%, 3%);
  --gray-5: hsl(215, 10%, 5%);
  --gray-6: hsl(215, 10%, 6%);
  --gray-7: hsl(215, 10%, 7%);
  --gray-8: hsl(215, 10%, 8%);
  --gray-9: hsl(215, 10%, 9%);
  --gray-10: hsl(215, 10%, 10%);
  --gray-11: hsl(215, 10%, 11%);
  --gray-12: hsl(215, 10%, 12%);
  --gray-13: hsl(215, 10%, 13%);
  --gray-14: hsl(215, 10%, 14%);
  --gray-15: hsl(215, 10%, 15%);
  --gray-16: hsl(215, 10%, 16%);
  --gray-17: hsl(215, 10%, 17%);
  --gray-18: hsl(215, 10%, 18%);
  --gray-19: hsl(215, 10%, 19%);
  --gray-20: hsl(215, 10%, 20%);
  --gray-25: hsl(215, 10%, 25%);
  --gray-30: hsl(215, 10%, 30%);
  --gray-35: hsl(215, 10%, 35%);
  --gray-40: hsl(215, 10%, 40%);
  --gray-45: hsl(215, 10%, 45%);
  --gray-50: hsl(215, 10%, 50%);
  --gray-55: hsl(215, 10%, 55%);
  --gray-60: hsl(215, 10%, 60%);
  --gray-65: hsl(215, 10%, 65%);
  --gray-70: hsl(215, 10%, 70%);
  --gray-71: hsl(215, 10%, 71%);
  --gray-72: hsl(215, 10%, 72%);
  --gray-73: hsl(215, 10%, 73%);
  --gray-74: hsl(215, 10%, 74%);
  --gray-75: hsl(215, 10%, 75%);
  --gray-76: hsl(215, 10%, 76%);
  --gray-77: hsl(215, 10%, 77%);
  --gray-78: hsl(215, 10%, 78%);
  --gray-79: hsl(215, 10%, 79%);  
  --gray-80: hsl(215, 10%, 80%);
  --gray-81: hsl(215, 10%, 81%);
  --gray-82: hsl(215, 10%, 82%);
  --gray-83: hsl(215, 10%, 83%);
  --gray-84: hsl(215, 10%, 84%);
  --gray-85: hsl(215, 10%, 85%);
  --gray-86: hsl(215, 10%, 86%);
  --gray-87: hsl(215, 10%, 87%);
  --gray-88: hsl(215, 10%, 88%);
  --gray-89: hsl(215, 10%, 89%);
  --gray-90: hsl(215, 10%, 90%);
  --gray-91: hsl(215, 10%, 91%);
  --gray-92: hsl(215, 10%, 92%);
  --gray-93: hsl(215, 10%, 93%);
  --gray-94: hsl(215, 10%, 94%);
  --gray-95: hsl(215, 10%, 95%);
  --gray-96: hsl(215, 10%, 96%);
  --gray-97: hsl(215, 10%, 97%);
  --gray-98: hsl(215, 10%, 98%);
  --gray-99: hsl(215, 10%, 99%);
  --gray-100: hsl(215, 10%, 100%);

  --blue-10: hsl(215, 100%, 10%);
  --blue-15: hsl(215, 100%, 15%);
  --blue-20: hsl(215, 100%, 20%);
  --blue-25: hsl(215, 100%, 25%);
  --blue-30: hsl(215, 100%, 30%);
  --blue-35: hsl(215, 100%, 35%);
  --blue-40: hsl(215, 100%, 40%);
  --blue-45: hsl(215, 100%, 45%);
  --blue-50: hsl(215, 100%, 50%);
  --blue-55: hsl(215, 100%, 55%);
  --blue-60: hsl(215, 100%, 60%);
  --blue-65: hsl(215, 100%, 65%);
  --blue-70: hsl(215, 100%, 70%);
  --blue-75: hsl(215, 100%, 75%);
  --blue-80: hsl(215, 100%, 80%);
  --blue-85: hsl(215, 100%, 85%);
  --blue-90: hsl(215, 100%, 90%);
  --blue-95: hsl(215, 100%, 95%);
  --blue-100: hsl(215, 100%, 98%);

  --blue-transp-10: hsl(215, 100%, 50%, 0.1);
  --blue-transp-20: hsl(215, 100%, 50%, 0.2);
  --blue-transp-30: hsl(215, 100%, 50%, 0.3);
  --blue-transp-40: hsl(215, 100%, 50%, 0.4);
  --blue-transp-50: hsl(215, 100%, 50%, 0.5);
  --blue-transp-60: hsl(215, 100%, 50%, 0.6);
  --blue-transp-70: hsl(215, 100%, 50%, 0.7);
  --blue-transp-80: hsl(215, 100%, 50%, 0.8);
  --blue-transp-90: hsl(215, 100%, 50%, 0.9);

  --blue-deep-5: hsl(220, 90%, 5%);
  --blue-deep-10: hsl(220, 90%, 10%);
  --blue-deep-15: hsl(220, 90%, 15%);
  --blue-deep-20: hsl(220, 90%, 20%);
  --blue-deep-25: hsl(220, 90%, 25%);
  --blue-deep-30: hsl(220, 90%, 30%);
  --blue-deep-35: hsl(220, 90%, 35%);
  --blue-deep-40: hsl(220, 90%, 40%);
  --blue-deep-45: hsl(220, 90%, 45%);
  --blue-deep-50: hsl(220, 90%, 50%);
  --blue-deep-55: hsl(220, 90%, 55%);
  --blue-deep-60: hsl(220, 90%, 60%);
  --blue-deep-65: hsl(220, 90%, 65%);
  --blue-deep-70: hsl(220, 90%, 70%);
  --blue-deep-75: hsl(220, 90%, 75%);
  --blue-deep-80: hsl(220, 90%, 80%);
  --blue-deep-85: hsl(220, 90%, 85%);
  --blue-deep-90: hsl(220, 90%, 90%);
  --blue-deep-95: hsl(220, 90%, 95%);
  --blue-deep-100: hsl(220, 90%, 98%);

  // Green
  --green-40: hsl(120, 90%, 40%);
  --green-50: hsl(120, 90%, 50%);
  --green-60: hsl(120, 90%, 60%);

  // Red 
  --red-40: hsl(0, 100%, 40%);
  --red-50: hsl(0, 100%, 50%);
  --red-60: hsl(0, 100%, 60%);

  // Yellow 
  --yellow-40: hsl(45, 100%, 40%);
  --yellow-50: hsl(45, 100%, 50%);
  --yellow-60: hsl(45, 100%, 60%);

}

