:root {

  /* SIZES - Checkbox size tokens */

  /* Medium (default) */
  --checkbox-medium--size: var(--px-20);
  --checkbox-medium--font-size: var(--font-size-m);
  --checkbox-medium--border-radius: var(--radius-xs);

  /* Small */
  --checkbox-small--size: var(--px-16);
  --checkbox-small--font-size: var(--font-size-s);
  --checkbox-small--border-radius: var(--radius-xxs);

  
  /* COLORS & STYLES */
  
  --checkbox--bg: var(--color-bg-dos);
  --checkbox--border-width: var(--px-2);
  --checkbox--border-color: var(--color-bg-cuatro);
  --checkbox--border-color-hover: var(--color-bg-cinco);
  --checkbox--border-color-focus: var(--color-outline-uno);
  
  --checkbox--checked-bg: var(--color-bg-primary);
  --checkbox--checked-bg-hover: var(--color-bg-primary-hover);
  --checkbox--checked-border-color: var(--color-bg-primary);
  --checkbox--checkmark-color: white;

  --checkbox--label-color: var(--color-font-uno);
  --checkbox--label-margin-left: var(--px-8);

  /* Disabled state */
  --checkbox--disabled-bg: var(--color-bg-dos);
  --checkbox--disabled-border-color: var(--color-bg-tres);
  --checkbox--disabled-checkmark-color: var(--color-font-cinco);
}

