.checkbox-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-size: var(--checkbox-medium--font-size);
  color: var(--checkbox--label-color);
  
  &:has(input:disabled) {
    cursor: not-allowed;
    color: var(--disabled-color-font);
  }
}

.checkbox-input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-control {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--checkbox-medium--size);
  width: var(--checkbox-medium--size);
  background-color: var(--white-transparent-50);
  box-shadow: inset 0 0 0 var(--checkbox--border-width) var(--checkbox--border-color);
  border-radius: var(--checkbox-medium--border-radius);
  transition: all 0.1s linear;
  flex-shrink: 0;
  color: var(--checkbox--checkmark-color);

  .input-icon-svg {
    opacity: 0;
    transform: scale(0.5);
    transition: all 0.1s linear;
  }
}

/* Hover - unchecked state (darker border) */
.checkbox-wrapper:hover .checkbox-input:not(:disabled):not(:checked) ~ .checkbox-control {
  box-shadow: inset 0 0 0 var(--checkbox--border-width) var(--checkbox--border-color-hover);
  background-color: white;
}

/* Hover - checked state (darker background) */
.checkbox-wrapper:hover .checkbox-input:not(:disabled):checked ~ .checkbox-control {
  background-color: var(--checkbox--checked-bg-hover);
}

/* Checked state */
.checkbox-input:checked ~ .checkbox-control {
  background-color: var(--checkbox--checked-bg);
  box-shadow: none;

  .input-icon-svg {
    opacity: 1;
    transform: scale(1);
  }
}

/* Focus state */
.checkbox-input:focus-visible ~ .checkbox-control {
  outline: 2px solid var(--checkbox--border-color-focus);
  outline-offset: 2px;
}

/* Disabled state */
.checkbox-input:disabled ~ .checkbox-control {
  background-color: var(--checkbox--disabled-bg);
  box-shadow: inset 0 0 0 var(--checkbox--border-width) var(--checkbox--disabled-border-color);
  color: var(--checkbox--disabled-checkmark-color);
}

.checkbox-label {
  margin-left: var(--checkbox--label-margin-left);
}

